<!DOCTYPE html>
<html>
<head>
    <title>##heading## - ##sitetitle##</title>
    <link rel="stylesheet" href="##basepath##css/styles.css"/>
</head>
<body>
    <table id="container">
        <tr><td colspan="2" id="header">
            <h2>##sitetitle##</h2>
        </td></tr>
        <tr>
            <td id="sidebar" valign="top">
                ##sidebody##
            </td>
            <td id="content" valign="top">
                <h1>##heading##</h1>
                <p>##body##</p>
            </td>
        </tr>
        <tr>
            <td colspan="2" id="footer">&copy; 2002</td>
        </tr>
    </table>
</body>
</html>
