<!DOCTYPE html>
<html>
<head>
    <title>##heading## - ##sitetitle##</title>
    <style>
        html, body {
            height: 100%;
        }
    </style>
</head>
<body>
    <table border="1" style="width: 90%; height: 90%;">
        <tr colspan="2" id="header">
            <h2>##sitetitle##</h2>
            <hr/>
        </tr>
        <tr>
            <td id="sidebar" valign="top" style="width:200px;">
                ##sidebody##
            </td>
            <td id="content" valign="top">
                <h1>##heading##</h1>
                <p>##body##</p>
            </td>
        </tr>
        <tr>
            <td colspan="2" id="footer" style="color: gray;">&copy; 2002</td>
        </tr>
    </table>
</body>
</html>
