{% extends "CvuorinenLegacyBundle::layout.html.twig" %}

{% block body %}
    <p><strong>Id:</strong> {{ user.id }}</p>
    <p><strong>Name:</strong> {{ user.firstname }} {{ user.lastname }}</p>
    {% if isAdmin %}
        <h3>Actions:</h3>
        <a href="{{ baseUrl }}?action=edit&page=/user.html">Edit</a>
    {% endif %}
{% endblock %}
